libraries/*

build/node_modules/*
build/bower_components*
build/1/*
build/bower_components/**/


themes/omega/

!modules/
modules/*
!modules/custom/
!modules/vebko_job/

bower_components/
themes/traderhub/css/main.css
modules/custom/fondexxsmsvalidation/smsc_api.php
modules/custom/fondexxsmsvalidation/smsc_api.inc