.singleblogteaserheaderleftbody > a {
  text-decoration: none !important;
}

.webform-client-form {
  overflow: auto;
}

.webform-client-form .form-item {

  &.webform-component--body {
    margin-left: 0;
  }

  &.form-item-agree {
    height: 20px !important;
    width: 20px !important;
    margin-right: 20px !important;
    margin-left: 0 !important;
    clear: left;

    input {
      margin-left: 0;
      padding-left: 0;
      width: 20px !important;
      height: 20px !important;
    }
  }

  &.form-item-link2pdf {
    width: auto;
    margin-right: auto;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  &.webform-component--smscode {
    clear: left !important;
    margin-left: 0 !important;

    input {
      height: 40px !important;
    }
  }
}

.btn_sendsms {
  float: left !important;
  margin-left: 20px !important;
}

.btn_validatesms {
  float: left !important;
  clear: both !important;
  margin-left: 0 !important;
}

#jGrowl .jGrowl-notification  {
  .jGrowl-close {
    width: auto;
    height: auto;
    background: none;
    color: black;
    margin: 0;
    padding: 0;
  }

  .jGrowl-message {

  }
}

/*.webform-client-form .form-item label { display: block !important;} */
